.profile_picture {
    text-align: center;
}
.profile_picture h1 {
    margin-top: 100px;
}
.profile_picture img {
    border-radius: 50%;
}
.profile li {
    margin: 5px;
    list-style: none;
}
.description {
    display: flex;
}
.profile ul {
    padding-left: 0;
}
.about_me_container {
    width: 100%;
}
.fa-bone {
    font-size: 1.5em;
    margin: 0 20px;
}
.bones {
    text-align: center;
}
hr {
    margin-top: 50px;
}
/*mobile styles*/
@media only screen and (max-width: 780px) {
    .description {
        flex-direction: column;
    }
    .description div{
        width: 85%;
        margin: 10px auto;
    }
}

/*desktop/tablet styles*/
@media only screen and (min-width: 781px) {
    body {
        background-color: #f2f2f2
    }
    .description {
        justify-content: center;
        margin: 0 15px;
    }
    .profile_container {
        background-color: white;
        width: 70%;
        margin: auto;
    }
    .profile_picture h1 {
        padding-top: 75px;
    }
    .description div{
        width: 100%;
        max-width: 340px;
    }
    .description {
        gap: 100px;
    }
    .profile .bones {
        margin: 0;
    }
    .bones {
        margin: auto;
    }

}