.search h1 {
    margin-bottom: 0;
}
.search p {
    width: 250px;
    margin: 0 auto 30px auto;
}
.search {
    text-align: center;
    margin: 100px auto 50px auto;
}
input {
    width: 400px;
    border: solid .5px #5f2b7b;
    height: 48px; 
    font-size: 1.2em;
    font-family: 'Lora', serif;
    position: relative;
    left: 5px;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px solid #5f2b7b;
}
.blogList {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;    
}
.blogContainer {
    width: 270px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.288);
}
.blogContainer h3  {
    margin: 10px 0 15px 0;
}
.blogContainer p {
    margin: 10px 0 0 0;
}
.more {
    text-align: center;
    margin: 30px 0 50px 0;
}
/*mobile styles*/
@media only screen and (max-width: 780px) {
    input {
        width: 275px;
        margin-bottom: 20px
    }
}

/*desktop/tablet styles*/
@media only screen and (min-width: 781px) {
    nav { 
        background-color: #f2f2f2
    }
}