/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.header p {
    font-family: 'Consolas', sans-serif;
}
header .fa-paw {
    font-size: 2em;
    margin: 0 10px;
}
.home_page {
    width: 100%;
}
.slogan {
    text-align: center;
    margin-bottom: 90px;
}
.fa-bone {
    font-size: 1.5em;
}
/* SlideShow/carousel */
.blogContainer {
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.288);
    width: fit-content;
}
.blogContainer a {
    text-decoration: none;
    color: black;
}
.blogContainer p {
    margin-bottom: 0px;
    margin-top: 5px;
}
.blogContainer h3 {
    padding-bottom: 10px;
    margin-top: 10px;
}
.slideshow {
    margin-top: 75px;
}
.latest_post {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
} 
.latest_post::-webkit-scrollbar { 
    display: none;
}
.slide-arrow {
    color: black;
    font-size: 2em;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
    width: 2em;
    background-color: #f2f2f2;
    text-align: center;
    align-items: center;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-arrow:hover {
    opacity: 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.288);
}
.favorites {
    margin: 75px 0;
    overflow: hidden;
}
.favorites-container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    gap: 10px 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.favorites-container img:nth-child(1) {
    order: 3;
}
.favorites-container img:nth-child(2) {
    order: 2;
}
.favorites-container img:nth-child(3) {
    order: 1;
}
/* Footer */
.favorites img {
    border: solid 50px #f2f2f2;
    border-style: double;
}
footer {
    width: 100%;
}
/*mobile styles*/
@media only screen and (max-width: 780px) {
    .slideshow {
        margin: 60px auto 0 auto;
        width: 80%;
    }
    .slider {
        width: 270px;
    }
    .latest_post {
        gap: 20px;
    }
    .swiper-button-prev {
        position: relative;
        left: -17px;
        top: -275px;
        }
    .swiper-button-next {
       position: relative;
        float: right;
        top: -316px;
        right: -22px;
    }
    .slide-arrow {
        opacity: 0.75;
        width: 1.3em;
        height: 1.3em;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.288);
    }
    .favorites {
        margin: 50px auto;
    }
    .favorites h3 {
        width: 80%;
        margin: 0 auto 15px auto;
    }
    .favorites-container img {
        width: 50%;
    }

}

/*desktop/tablet styles*/
@media only screen and (min-width: 781px) {
    nav {
        background-color: #f2f2f2
    }
    main {
        width: 80%;
        margin: 0 auto;
    }
    .swiper-button-prev {
    position: relative;
    left: -30px;
    top: -275px;
    }
    .swiper-button-next {
        position: relative;
        float: right;
        top: -339px;
        right: -31px;
    }
}