.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    background-color: white
}

#image:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease;
}
main p {
    width: 310px;
}
.date {
    text-align: center;
}
/*mobile styles*/
@media only screen and (max-width: 780px) {
    .container {
        width: 80%
    }
    main img {
        width: 100%;
    }
    .image {
        width: 70%;
    }
    
}

/*desktop/tablet styles*/
@media only screen and (min-width: 781px) {
    body {
        background-color: #f2f2f2
    }
    main img {
        width: fit-content;
    }
    .image {
        width: 30%;
    }
   
}