.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    background-color: white
}

#image:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease;
}
main p {
    max-width: 400px;
}
.date {
    text-align: center;
}
/* Comment section*/
.comments_container {
    order: 4;
    border-left: 5px solid #5f2b7b;
    padding-left: 30px;
    margin:50px 0;
}
textarea {
    width: 100%;
    border: 4px double #5f2b7b;
    font-size: 1.2em;
    font-family: 'Lora', serif;
    height: 125px
}
.comments div {
    border: 10px solid #f2f2f2;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 50px 0 0 30px;
    font-size: 1em;
}
.comments p {
    margin-top: 5px;
    float: right;
}
.comment-form {
    margin-top: 50px;
}
.button {
    text-align: center; 
    margin-top: 10px;
}
.comments .commentsError {
    color: red;
    border: none;
    font-size: 1.5em;
}

/*mobile styles*/
@media only screen and (max-width: 780px) {
    .container {
        width: 80%
    }
    main img {
        width: 100%;
    }
    .image {
        width: 70%;
    }
    .comments div {
        margin-left: 0;
    }
}

/*desktop/tablet styles*/
@media only screen and (min-width: 781px) {
    body {
        background-color: #f2f2f2
    }
    main img {
        width: fit-content;
    }
    .image {
        width: 30%;
    }
    .comments_container {
        width: 70%;
    }
}